.quiz-main-container {
  margin-top: 2rem;
}

.quiz-main-container .center {
  text-align: center;
}

.quiz-main-container .flex {
  display: flex;
}

.quiz-main-container .flex-jc-c {
  justify-content: center;
}
