body{

}

.allElementsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

}

.allEventsContainer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 2%;
    margin-top: 3%;
}

.pageIntro{
    font-weight: 900;
    font-size: 4rem;
    color: rgb(75, 37, 65);
    text-shadow: 2px 3px rgb(238, 168, 234);
    margin-bottom: 2%;
    text-align: center;
}

.introductionBackground{
    width: 100vw;
    height: 450px;
    background-image: url("./components/Events/pexels-gradienta-7130486.jpg");
    background-size: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}