.searchBarContainer{
    display: flex;
    width: 70vw;
    height: 2.5rem;
    justify-content: center;
}

@media screen and (max-width: 480px) {
    .searchBarContainer{
        display: flex;
        flex-direction: column;
        height: 11rem;
        width: 60vw;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        margin-top: 3%;

    }
}

.inputSearchCategory{
    margin: 0 2%;
    border: none;
    box-shadow: 3px 3px rgb(238, 168, 234);
    background-color: aliceblue;
}

.searchByLabel{
    /* margin: 0 2%;
    text-align: center;
    font-size: 0.9rem;
    margin-top: 0.4rem; */
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    padding-right: 0.9rem;
    text-align: center;
    font-weight: 900;
    color: rgb(230, 212, 252);
    text-shadow: 2px 2px rgb(10, 10, 10);
}

@media screen and (max-width: 480px) {
.searchByLabel{
    /* margin: 0 2%;
    text-align: center;
    font-size: 0.9rem; */
    margin-top: 2%;
}
}

.searchByCategoryButton{
    background-color: rgb(2, 102, 133);
    border: none;
    border-radius: 10px;
    padding: 5px 25px;
    width: 8rem;
    margin: 0 2%;
    color: white;
    font-weight: 700;
    box-shadow: 2px 2px rgb(238, 168, 234);
    
}

.searchByCategoryButton:hover{
    background-color: rgb(201, 51, 168);
    font-weight: 700;
    box-sizing:border-box;
}

.selectCategoryOption{
    width: 7rem;
    border: none;
    box-shadow: 3px 3px rgb(238, 168, 234);
    background-color: aliceblue;

}