.searchBarContainer{
    display: flex;
    width: 70vw;
    height: 2.5rem;
    justify-content: center;
}

@media screen and (max-width: 480px) {
    .searchBarContainer{
        display: flex;
        flex-direction: column;
        height: 140px;
        width: 60vw;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        margin-top: 3%;

    }
}

.inputSearchCategory{
    margin: 0 2%;
}

.searchByLabel{
    /* margin: 0 2%;
    text-align: center;
    font-size: 0.9rem;
    margin-top: 0.4rem; */
    display: flex;
    align-items: center;
    font-size: 1rem;
    padding-right: 0.9rem;
}

@media screen and (max-width: 480px) {
.searchByLabel{
    /* margin: 0 2%;
    text-align: center;
    font-size: 0.9rem; */
    margin-top: 2%;
}
}

.searchByCategoryButton{
    background-color: rgba(34, 170, 211, 0.281);
    border: none;
    border-radius: 10px;
    padding: 5px 25px;
    width: 8rem;
    margin: 0 2%;
}

.searchByCategoryButton:hover{
    background-color: rgba(253, 154, 232);
    font-weight: 600;
    box-sizing:border-box;
}

.selectCategoryOption{
    width: 7rem;
}