.mainWrapper{
    background-color: rgb(0, 0, 0);
    display: inline-block;
    width: 550px;
    height: 200px;
}



.eventDescription{
    display: flex;
    flex-direction: column;
    /* background-color: red; */
    height: 90%;

}

.eventContainer{
    border: 2px solid black;
    border-radius: 50px;
    /* width: 40%; */
    align-items: center;
    justify-content: space-around;
    display: flex;
    padding:10px;
    margin: 5px;
    background-color: rgb(211, 199, 194);
    height: 90%;
    /* height: 10%; */
}