.articleContainer{ 
    width:80%;
    display: flex;
    

}
h2{text-align: center;}

html, body{
    width: 100vw;
    background: -webkit-linear-gradient(#141638, #0C0C20, #181944, rgb(238, 233, 255) );
    }